<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="mx-auto text-xl">{{site.name}}</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="{{ site.url | append: site.baseurl }}" class="mr-5 hover:text-gray-900">Home</a>
      <a href="{{ site.url | append: site.baseurl }}/about" class="mr-5 hover:text-gray-900">About</a>
      <a href="{{ site.url | append: site.baseurl }}/contact/" class="mr-5 hover:text-gray-900">Contact</a>
    </nav>
  </div>
</header>